{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">メモ一覧</h1>
    {% if memos == [] %}
        <p>メモは登録されていません</p>
    {% else %}
        <ul class="list-group mb-4">
            {% for memo in memos %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ memo.title }}
                    <div>
                        <a href="{{ url_for('memo.update', memo_id=memo.id) }}" class="btn btn-warning btn-sm">編集</a>
                        <a href="{{ url_for('memo.delete', memo_id=memo.id) }}" class="btn btn-danger btn-sm">削除</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- ▼▼▼▼▼ flashメッセージ ▼▼▼▼▼ -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    <!-- ▲▲▲▲▲ flashメッセージ ▲▲▲▲▲ -->
    <a href="{{ url_for('memo.create') }}" class="btn btn-primary">新しいメモを作成</a>
{% endblock %}
