{% extends "base.html" %}

{% block title %}
    <h1>WTForm：入力（マクロ使用）</h1>
{% endblock %}

{% block content %}
    <!-- formhelpers.htmlで定義したrender_fieldマクロをインポート -->
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" novalidate>
        {{ render_field(form.name) }}
        {{ render_field(form.age) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ render_field(form.email) }}
        {{ render_field(form.birthday) }}
        {{ render_field(form.gender) }}
        {{ render_field(form.area) }}
        {{ render_field(form.is_married) }}
        {{ render_field(form.note) }}
        {{ form.submit() }}
    </form>
{% endblock %}